body {
    margin: 0;
    background-color: rgb(181, 180, 180);
}

.div_conteiner {
    height: 100vh;
    width: 100%;
    background-color: rgb(181, 180, 180);
}

.div_dos_inputs {
    height: 650px;
    width: 500px;
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
}

.h3 {
    color: white;
    margin-left: 20px;
}

.butao_teste {
    height: 60px;
    width: 100px;
    background-color: green;
    border-radius: 10px;
}

.div_superior_barra {
    height: 90px;
    width: 100%;
    background-color: rgb(15, 15, 45);
    margin-bottom: 20px;
}